<div class="whole">

    <div class="text">
        <h1>Designed by <br>Indian engineers</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa modi officiis dignissimos delectus nihil iste ipsam sit quis quos omnis eum aliquid placeat soluta enim laudantium nobis consequatur, sunt aut.</p>
    
        <button class="button">Check in</button>
    </div>
    <div class="aside">
        <img class="image" src="../../assets/banner_illustration.png" alt="">
    </div>

    <div class="mouse">
        <img class="mouse-image" src="../../assets/mouse.png" alt="">
    </div>

    <div class="key-features">
        <img class="key-features-img" src="../../assets/key feature bg.png" alt="">
        <h3>Key features</h3>
        
    </div>

    <div class="cards">
        <div class="card">
            <img class="key-ico" src="../../assets/technical security.png" alt="">
            
            <div class="container">
              <h4><b>Techinical security</b></h4> 
              <p class="txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa iusto sequi magni. </p> 
            </div>
        </div>
        <div class="card">
            <img class="key-ico" src="../../assets/data security.png" alt="">
            <div class="container">
              <h4><b>Data security</b></h4> 
              <p class="txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est aliquid cum ratione labore libero</p> 
            </div>
        </div>
        <div class="card">
            <img class="key-ico" src="../../assets//identity theft.png" alt="">

            <div class="container">
              <h4><b>Identify theft</b></h4> 
              <p class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quaerat fugit. Mollitia inventore v.</p> 
            </div>
        </div>
    </div>

</div>
